/* Resetear estilos por defecto del navegador para mejor consistencia en los estilos */

@import url("https://unpkg.com/@csstools/normalize.css");

/* Estilos provisionales para maquetado */

#header {
    background-color: slategray;
}

footer {
    background-color: lightskyblue;
}

/* Estilos */
@font-face {
    font-family: Inter;
    src: url(assets/Inter.ttf);
}

:root {
    color-scheme: light;
}

body {
    padding: 0;
    margin: 0;
    font-family: Inter;
    box-sizing: border-box;
}

#page {
    display: grid;
    min-height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

#page.aside-open {
    & #header button #aside-toggle-icon-expand {
        display: none
    }
}

#page:not(.aside-open) {
    & #header button #aside-toggle-icon-collapse {
        display: none
    }
}

#header {
    position: sticky;
    top: 0;
    z-index: 300;
    grid-area: header;
    min-height: 65px;
    display: flex;
    align-items: center;
    padding-inline: 5px;
    border-radius: 0 0 15px 15px;
    border: 5px solid white;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;

    & button {
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: all .3s ease;
        background: none;

        & i {
            font-size: 25px;
            background-color: white;
            padding: 5px;
            border-radius: 8px;
        }
    }
}

#header nav {
    display: flex;
    width: 100%;

    & a {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-inline: 5px;
        transition: all .3s ease;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        color: black;

        & i {
            font-size: 20px;
            margin-right: 5px;
        }
    }

    & a:hover {
        background-color: red;
        color: white;
    }

    & a:nth-last-child(2) {
        margin-left: auto;
    }
}

main {
    grid-area: main;
    box-sizing: border-box;
    padding: 10px;
}

aside {
    grid-area: aside;
    padding: 5px;
    transition: all 0.3s ease;
    box-sizing: border-box;

    & nav {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding: 10px;
        background-color: #2c2c2c;
        border-radius: 10px
    }
}

aside button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #444444;
    transition: all .3s ease;

    & i {
        font-size: 25px;
        color: #242525;
        padding: 5px;
        border-radius: 8px;
        margin-right: 10px;
        background-color: #e2e2e2;
    }

    & span {
        font-size: 1rem;
        color: #e2e2e2;
        text-wrap: nowrap;
        font-size: 1rem;
    }
}

aside button[aria-current="page"] {
    background-color: blueviolet;
}

aside button:nth-last-child(2) {
    margin-top: auto;
}

aside button:last-child {
    margin-bottom: 0
}

aside button:hover {
    background-color: #5b5b5b;
}

figure {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 600px;

    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    border: 2px solid cornflowerblue;
    overflow-x: scroll;

    display: flex;

    & figcaption {
        margin-top: auto;
    }
}

figure iframe {
    display: block;

    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;

    border: 0;
}

footer {
    grid-area: footer;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    border-radius: 20px 20px 0 0;
    border: 10px solid white;
    border-bottom: none;


    & * {
        margin-inline: 10px;
        /* text-align: center; */
        font-size: 0.6rem
    }
}


/* Secciones de la información del dashboard */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section header {
    background-color: cadetblue;
    padding: 30px;
    border-radius: 10px;
    flex-basis: 100%;

    & h1 {
        margin: 0;
    }
}

/* Cartas de información */
.card-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    flex-basis: 30%;
    flex-wrap: wrap;

    & .card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        min-width: 200px;
        max-height: 280px;
        border-radius: 10px;
        padding: 20px;
        text-wrap: wrap;
        position: relative;

        & span {
            font-weight: bold;
            margin-top: 30px;
            font-size: 1.3rem;
            margin-right: 50px;
        }

        & i {
            position: absolute;
            top: calc(100% - 55px);
            right: 10px;
            padding: 10px;
            font-size: 25px;
            background-color: white;
            border-radius: 10px;
        }
    }

}

main section[hidden] {
    display: none;
}

@media screen and (min-width: 769px) {
    #page {
        --aside-width: 65px;
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "aside header"
            "aside main"
            "aside footer";

        & .card-container .card {
            flex: 1 1 calc(50% - 8px);
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-basis: 50%
        }

    }

    #page aside {
        position: sticky;
        top: 0;
        align-self: start;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden
    }

    #page.aside-open {
        --aside-width: 260px;
    }

    #page:not(.aside-open) {
        & aside {
            padding: 5px;
        }

        & aside nav {
            padding: 10px;

            & button {
                background-color: transparent;
                padding: 0;
                margin-inline: 0;

                & span {
                    display: none;
                    visibility: hidden;
                }

                & i {
                    margin: 0;
                    transition: all .3s ease;
                }

                & i:hover {
                    background-color: blue;
                    color: white;
                }
            }

            & button[aria-current=page] i {
                background-color: blueviolet;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #page {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "header"
            "main"
            "footer";

        & .card-container {
            flex-basis: 50%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex: 1 1 calc(50% - 8px);
        }
    }

    #page aside {
        position: fixed;
        top: 65px;
        left: 0;

        width: 280px;
        height: calc(100vh - 65px);

        transform: translateX(-100%);

        z-index: 200;
        transition: transform 0.3s ease;
    }

    #page.aside-open aside {
        transform: translateX(0);
    }
}
