/* Resetear estilos por defecto del navegador para mejor consistencia en los estilos */

@import url("https://unpkg.com/@csstools/normalize.css");

/* Estilos provisionales para maquetado */

header {
    background-color: cyan;
}

main {
    background-color: darkcyan;
}

aside {
    background-color: beige;
}

footer {
    background-color: coral;
}

/* Estilos */

body {
    padding: 0;
    margin: 0;
}

#page {
    display: grid;
    min-height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

header {
    position: sticky;
    top: 0;
    z-index: 300;
    grid-area: header;
    min-height: 50px;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    min-height: 50px;
}

@media screen and (min-width: 769px) {
    #page {
        --aside-width: 50px;
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "aside header"
            "aside main"
            "aside footer";

    }

    #page.aside-open {
        --aside-width: 250px;
    }

    aside {
        position: sticky;
        top: 0;
        align-self: start;
        height: 100vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 768px) {
    #page {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    #page aside {
        position: fixed;
        top: 0;
        left: 0;

        width: 280px;
        height: 100vh;

        transform: translateX(-100%);

        z-index: 200;
        transition: transform 0.3s ease;
    }

    #page.aside-open aside {
        transform: translateX(0);
    }
}
